label.direccionEmprendimiento {
    display: block;
    position: relative;
    pointer-events: none;
    transition: 0.2s ease all;
    margin-bottom: 0.5rem;
}

.imagenEmprendimientoFormulario {
    margin-top: 1rem;
}

#imagenFormulario label {
    font-size: 1rem;
    color: #000 !important;
}

select {
    width: 100%;
    border: none;
    padding: 0.3rem;
    border-bottom: 2px solid #36be7f;
    background-color: transparent;
}

select:hover {
    background-color: rgba(109, 109, 109, 0.2);
}

label.seleccionLocalidad {
    font-size: 0.85rem;
    color: #53c9ff;
}

.oculto {
    display: none;
}

div.mostrar {
    display: block;
    animation: 0.5s linear 0s mostrarDiv;
    animation-direction: unset;
}

.alturaYCalle {
    display: flex;
    justify-content: space-between;
}

div.alturaYCalle p.form-subtitulos {
    margin-left: 0;
}

div#previousImagen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.position {
    position: relative;
    width: 40%;
}

.inputFlex {
    display: flex;
}

label.oculto {
    display: none;
}

.ocultarInputsCerradoDomingo {
    flex-wrap: wrap;
}

#previousImagen .imgEmprendimiento {
    width: 100%;
    margin: 0.4rem;
    height: fit-content;
    border-image: 1rem solid black;
    border-radius: 10px;
    padding: 0.2rem;
    border: 0.2rem #9f9f9f solid;
    box-shadow: 5px 4px 8px rgb(0 0 0 / 20%);
}

#previousImagen button.cierreEmprendedor {
    width: 30px;
    position: absolute;
    right: 0;
    padding: 0;
    top: 0.8rem;
    z-index: 1;
    border: none;
    background-color: transparent;
}

button.cierreEmprendedor img:hover {
    opacity: 0.5;
}

button.cierreEmprendedor img {
    width: 100%;
    height: auto;
}

.btnAgregarEmprendimiento,
.btnEditarEmprendimiento {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

div.contenedorImgs {
    display: block;
    position: relative;
    margin: 1rem;
    width: 20%;
}

@keyframes mostrarDiv {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

div.alturaYCalle div {
    width: 40%;
}

nav form {
    margin-bottom: 0;
}

@media (max-width:992px) {
    .group-subconjuntos {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .group-subconjuntos .opcion-radio {
        width: 100%;
        /* 2 radios por fila */
        text-align: center;
    }
    .group-subconjuntos h6 {
        font-size: 0.9rem;
        /* Ajuste de tipografía */
        margin-top: 0.3rem;
    }
    div.col-lg-6.solicitantes {
        width: 60%;
    }
    div.col-lg-6.solicitantes form {
        width: 100%;
    }
    div.col-lg-6 {
        justify-content: center;
        display: flex;
    }
    .form {
        width: 60%;
    }
}

.page-section {
    padding: 2rem 0;
}

.cerrado-checkbox {
    display: flex;
    align-items: center;
    /* Mejor que baseline */
    gap: 10px;
    /* Espacio entre checkbox y texto */
    margin-top: 3px;
    width: 100%;
}

.checkbox,
.checkbox-participa-feria input {
    width: auto;
}

.checkbox {
    margin: auto;
}


/*Contenedor de input cerrado y feria*/

.contenedorForm .checkbox-compartido {
    margin-bottom: 2rem;
}

.separacion {
    margin-bottom: 2rem;
}

.cerradoPalabra {
    margin-bottom: 0;
}

div.contenedorForm.checkbox-compartido p.form-subtitulos {
    margin: auto;
    width: auto;
}

.checkbox-participa-feria {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}


/********************************************************************************/

.asterisco {
    color: red;
    font-weight: 900;
    font-size: larger;
}

p.textoNuevoEmprendimiento {
    margin: 0;
}

p.textoNuevoEmprendimiento+p {
    margin-top: 0.3rem;
}

section.section-new-entrepreneur {
    padding: 0;
}

.mensajeError {
    color: #bf2121;
    margin: 0;
}


/*
.group-subconjuntos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.group-subconjuntos .opcion-radio {
    gap: 3px;
    padding: 5px;
    margin: 3rem;
    text-align: center;
}
*/

.group-subconjuntos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;
}

.group-subconjuntos .opcion-radio {
    padding: 5px;
    margin: 2rem 0;
    text-align: center;
}

.parrafo {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 8rem;
}
