label.direccionEmprendimiento {
    display: block;
    position: relative;
    pointer-events: none;
    transition: 0.2s ease all;
    margin-bottom: 0.5rem;
}

.imagenEmprendimientoFormulario {
    margin-top: 1rem;
}

#imagenFormulario label {
    font-size: 1rem;
    color: #000 !important;
}

select {
    width: 100%;
    border: none;
    padding: 0.3rem;
    border-bottom: 2px solid #36be7f;
    background-color: transparent;
}

select:hover {
    background-color: rgba(109, 109, 109, 0.2);
}

label.seleccionLocalidad {
    font-size: 0.85rem;
    color: #53c9ff;
}

.oculto {
    display: none;
}

div.mostrar {
    display: block;
    animation: 0.5s linear 0s mostrarDiv;
    animation-direction: unset;
}

.alturaYCalle {
    display: flex;
    justify-content: space-between;
}

div.alturaYCalle p.form-subtitulos {
    margin-left: 0;
}

div#previousImagen{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.position{
    position: relative;
    width: 40%;
}

.inputFlex{
    display: flex;
}
label.oculto{
    display: none;
}
.ocultarInputsCerradoDomingo{
    flex-wrap: wrap;
}

#previousImagen .imgEmprendimiento{
    width: 100%;
    margin: 0.4rem;
    height: fit-content;
    border-image: 1rem solid black;
    border-radius: 10px;
    padding: 0.2rem;
    border: 0.2rem #9f9f9f solid;
    box-shadow: 5px 4px 8px rgb(0 0 0 / 20%);
}

#previousImagen button.cierreEmprendedor {
    width: 30px;
    position: absolute;
    right: 0;
    padding: 0;
    top: 0.8rem;
    z-index: 1;
    border: none;
    background-color: transparent;
}

button.cierreEmprendedor img:hover{
    opacity: 0.5;
}

button.cierreEmprendedor img{
    width: 100%;
    height: auto;
}

.btnAgregarEmprendimiento, .btnEditarEmprendimiento{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

div.contenedorImgs{
    display: block;
    position: relative;
    margin: 1rem;
    width: 20%;
}
@keyframes mostrarDiv {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

div.alturaYCalle div {
    width: 40%;
}

nav form {
    margin-bottom: 0;
}

@media (max-width:992px) {
    div.col-lg-6 {
        justify-content: center;
        display: flex;
    }
    .form {
        width: 60%;
    }
    .group-subconjuntos {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .group-subconjuntos .opcion-radio {
        margin: 0;
        padding: 0.5rem;
    }
}

.page-section {
    padding: 2rem 0;
}

.cerrado-checkbox {
    display: flex;
    align-items: center;
    /* Mejor que baseline */
    gap: 4px;
    /* Espacio entre checkbox y texto */
    margin-top: 3px;
}

.checkbox {}


/********************************************************************************/

.asterisco {
    color: red;
    font-weight: 900;
    font-size: larger;
}

p.textoNuevoEmprendimiento {
    margin: 0;
}

p.textoNuevoEmprendimiento+p {
    margin-top: 0.3rem;
}

section.section-new-entrepreneur {
    padding: 0;
}

.mensajeError {
    color: #bf2121;
    margin: 0;
}


/*
.group-subconjuntos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.group-subconjuntos .opcion-radio {
    gap: 3px;
    padding: 5px;
    margin: 3rem;
    text-align: center;
}
*/

.group-subconjuntos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;
}

.group-subconjuntos .opcion-radio {
    padding: 5px;
    margin: 2rem 0;
    text-align: center;
}

.parrafo {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 8rem;
}