    .container-programas {
        margin-top: 10rem !important;
    }
    
    .container-programas {
        align-items: center;
        flex-wrap: wrap;
    }
    
    .programas {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 2rem;
    }
    
    .titulo1 {
        color: rgb(68, 68, 68);
        padding-bottom: 2rem;
    }
    
    .subtitulo1 {
        color: rgb(90, 84, 84);
        text-align: center;
        font-size: 42px;
    }
    
    .subtitulo2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 4rem;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
    
    .subtitulo {
        color: rgb(63, 60, 60);
    }
    
    .text-clubs {
        font-family: "Arial", sans-serif;
        font-size: larger;
        font-weight: normal;
        color: rgb(61, 61, 61);
        text-align: center;
        margin: 3rem;
        margin-bottom: 3rem;
    }
    
    .programas ol>li {
        list-style: none;
        padding-bottom: 8px;
    }
    
    .container-programas .subtitulo,
    .container-programas .titulo1,
    .container-programas .programas ol,
    .container-programas .programas h4 {
        margin: 2rem;
    }
    /* Estilo para evitar que el carrousel se superponga */
    
    .carrousel {
        /* Separación con el portfolio */
        margin-right: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 1000px;
        margin: 2rem auto 3rem auto;
    }
    
    .imagen-escuela {
        max-width: 685px;
        margin-left: 25%;
        margin-right: 50%;
        padding: 3rem;
    }
    
    .carrousel img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }
    
    .img-trabajo {
        justify-items: center;
    }
    /* Asegura que el portafolio comience separado visualmente */
    
    #portfolio {
        padding-top: 4rem;
        padding-bottom: 2rem;
        background-color: #1dffce;
    }
    
    #clubDeEmprendedores {
        margin-left: 2rem;
        padding: 0%;
    }
    
    .container-programas h3.tituloClubEmprendedores {
        margin: 3rem 3rem 2rem 1rem;
    }
    
    .detallesClub {
        display: flex;
        padding-top: 2rem;
    }
    
    .detallesClub ul {
        list-style: circle;
    }
    
    .detallesClub ul li {
        padding: 0.2rem;
    }
    
    div.contenedorTituloDetalles {
        display: flex;
    }
    
    div.contenedorListaProgramas div.programas {
        margin: 2rem 0rem;
    }
    
    div.contenedorTituloDetalles h3 {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
        display: flex;
        justify-content: center;
        background-color: #2cc4b4;
        border-radius: 0.90rem;
        align-items: center;
        color: rgb(228, 228, 228);
        padding: 0rem 1rem;
    }
    
    h3+p.text-clubs {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    /*Estilo diferentes ofertas de programas de empleo*/
    
    .contenedorListaProgramas div.programas ul {
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
    
    .contenedorListaProgramas div.programas h3 {
        /*background-color: #0e776c;*/
        background-color: #2cc4b4;
        padding: 2rem 0.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        color: #f9f9f9;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
    div.programas.row {
        background-color: #f3f3f3;
        margin: 0rem 1rem;
        border: black solid 0.15rem;
        border-radius: 1.2rem;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }
    /*Estilo programas*/
    
    @media(min-width:1000px) {
        div.contenedorListaProgramas {
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            position: relative;
        }
        .contenedorListaProgramas div.programas {
            display: inline-grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 1rem;
        }
        div.contenedorListaProgramas div.programas {
            margin: 0rem 1rem;
        }
        .beneficiosDetallesClub {
            flex-direction: row-reverse;
        }
        .detallesClub {
            padding-top: 6rem;
        }
        div.contenedorTituloDetalles {
            width: 40%;
        }
        .detallesClub {
            padding-top: 6rem;
            padding-bottom: 3rem;
            margin-bottom: 5rem !important;
        }
    }
    
    div.programas p.text-clubs {
        margin: 0%;
        padding: 1rem;
    }
    /*LISTAS*/
    
    ul.estiloLista {
        background-color: #e1e1e1;
        width: 60%;
        list-style: none;
        margin-left: 1%;
        padding: 1%;
        margin-bottom: 0;
        border-radius: 1rem;
    }
    
    ul.estiloLista li {
        position: relative;
        padding-left: 1.5em;
        margin-bottom: 0.5em;
    }
    
    div.beneficiosDetallesClub ul.estiloLista {
        margin-left: 0;
        margin-right: 1%;
    }
    
    ul.estiloLista li::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid #066b7f;
        /* Flecha apuntando a la derecha */
        margin-right: 5px;
    }
    
    .detallesDesarrolloLista {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .detallesDesarrolloLista li {
        margin: 0rem 1rem;
        height: -webkit-fill-available;
    }
    /******/
    
    .card-header-img img {
        width: 15%;
        height: auto;
    }
    
    .card-header-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    @media(max-width:1000px) {
        .detallesClub {
            display: block;
        }
        div.contenedorTituloDetalles {
            display: block;
            margin: 2rem 0rem;
        }
        div.contenedorTituloDetalles h3 {
            display: block;
            padding: 1rem 0rem;
        }
        ul.estiloLista {
            width: 100%;
        }
        h2.subtitulo1,
        h3.subtitulo1 {
            padding: 0;
            font-size: 35px;
        }
        .container-programas div.programas h4,
        .container-programas h3.tituloClubEmprendedores {
            margin: 1rem 0rem;
        }
        #clubDeEmprendedores {
            margin-left: 0;
        }
        section.page-section.text-white#SeccionFotosEmprendedores {
            background-color: #2cc4b4;
        }
        /*Estilo para el carrusel de links internos de los programas que se ofrecen*/
        button.flechaIzquierda,
        button.flechaDerecha {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 40px;
            font-size: 1.5rem;
            opacity: 0.7;
        }
        button.flechaIzquierda {
            left: 0;
        }
        button.flechaDerecha {
            right: 0%;
        }
        .carousel-horizontal {
            scroll-snap-type: x mandatory;
            gap: 1rem;
            padding: 1rem 0;
            scroll-behavior: smooth;
        }
        .item {
            scroll-snap-align: center;
            width: auto;
            padding: 2rem;
            background-color: #2cc4b4;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            border-radius: 10px;
            transition: background-color 0.20s ease-in-out;
        }
        .item:hover {
            background-color: #066b7f;
        }
        .item a {
            color: #f3f3f3;
        }
        div.carouselLinks,
        div.carousel-links-item,
        div.carousel-links-inner {
            display: flex;
        }
        div.carouselLinks {
            position: relative;
        }
        div.carousel-links-inner {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        div.carousel-links-item {
            position: relative;
            float: left;
            width: 100%;
            backface-visibility: hidden;
            transition: transform 0.6s ease-in-out;
        }
        div.carouselLinks .carousel-links-inner {
            display: flex;
        }
        div.carouselLinks .carousel-links-item {
            display: block;
            margin-right: 0;
            flex: 0 0 calc(95%/1);
        }
        div.carousel-links-item.visible {
            display: block;
        }
        @media screen and (min-width:420px) {
            div.carouselLinks .carousel-links-item {
                flex: 0 0 calc(98%/2);
            }
        }
        @media screen and (min-width:650px) {
            div.carouselLinks .carousel-links-item {
                flex: 0 0 calc(98%/3);
            }
        }
        @media screen and (min-width:1200px) {
            div.carouselLinks .carousel-links-item {
                flex: 0 0 calc(95%/4);
            }
            div.carouselLinks .carousel-links-inner {
                justify-content: center;
            }
            a.control-prev,
            a.control-next {
                display: none;
            }
        }
        div.carouselLinks .carousel-item {
            margin-right: 0;
            width: -webkit-fill-available;
        }
        div.carouselLinks .carousel-inner {
            padding: 1em;
        }
        div.carouselLinks .card {
            margin: 0 .5em;
            border-radius: 1rem;
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
            background-color: #2cc4b4;
            transition: background-color 0.3s ease;
        }
        div.carouselLinks .card:hover {
            background-color: #066b7f;
        }
        div.card-body h5.card-title {
            color: #0b3f49;
        }
        div.card-body a {
            color: #e1e1e1;
            font-weight: 600;
            font-size: 17px;
        }
        .control-prev,
        .control-next {
            width: 6vh;
            height: 6vh;
            background-color: #e1e1e1;
            border-radius: 50%;
            opacity: .5;
        }
        .control-prev,
        .control-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            /* semitransparente */
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            cursor: pointer;
            z-index: 10;
            transition: background-color 0.3s ease;
        }
        .control-prev:hover,
        .control-next:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .control-prev {
            left: 0.5rem;
        }
        .control-next {
            right: 0.5rem;
        }
        .custom-carousel-control svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: white;
        }
        /*****************************asignacion de animaciones de scroll programas ************************************************************/
        /******************** media query para movil *********************************/
        @media (max-width: 768px) {
            .text-clubs,
            .subtitulo,
            .subtitulo1,
            .titulo1,
            h4 {
                text-align: center;
                margin: 1rem;
                padding: 4px;
            }
            .carrousel img {
                width: 100%;
                height: 190px;
                object-fit: cover;
            }
            .carrousel {
                margin: 1rem auto;
                max-width: 100%;
                border-radius: 8px;
            }
            ul,
            li {
                text-align: left;
                margin: 0;
                padding: 5px;
                margin-top: 1rem;
            }
            ol,
            li {
                text-align: left;
                margin: 0;
                padding: 3px;
                margin-top: 1rem;
            }
        }
        .imagen-escuela {
            margin-left: 3%;
            margin-right: 20%;
            object-fit: contain;
        }
    }

    @media(min-width: 760px){
        .section-lead {
            height: 120px;
            width: 50%;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            border-left: 4px solid #b70913;
            padding-left: 20px;
        }

        .seccionEscuelaDeEmprendedores{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
        }

        .seccionEscuelaDeEmprendedores h2.subtituloProgramas{
            margin: 0;
        }

        .imagen-escuela{
            max-width: 50%;
            margin: 0;
        }
    }

    @media(min-width: 992px){
        header.masthead.headerProgramas {
            height: 150vh;
            min-height: 46rem;
        }

    }

    @media (min-width: 1100px){
        .section-lead{
            width: 40%;
        }

        .imagen-escuela{
            max-width: 30%;
        }

    }
