 /*********************************section icons redes*************************************************************************/
 /* ─── UBICACIÓN & REDES ─── */

 .map-wrapper iframe {
     width: 100%;
     height: 300px;
     border: 0;
     border-radius: var(--radius);
     margin-bottom: 8rem;
 }

 .social-icons {
     margin-top: 3rem;
     display: flex;
     justify-content: center;
     gap: 8rem;
     margin-bottom: 4rem;
     transition: transform 0.3s ease;
 }

 .social-icons a:hover {
     transform: scale(1.2);
 }

 .social-icons img {
     width: 82px;
     height: 82px;
 }

 #about2 {
     margin-bottom: 20rem;
 }
 /******tablet********/

 @media (max-width: 992px) {}
 /*******movil*************/

 @media (max-width: 768px) {
     .social-icons {
         margin-top: 1rem;
         display: flex;
         justify-content: center;
         gap: 4rem;
         margin-bottom: 2rem;
         transition: transform 0.3s ease;
     }
     #about2 {
         margin-bottom: 10rem;
     }
     .social-icons a:hover {
         transform: scale(1.2);
     }
     .social-icons img {
         width: 42px;
         height: 42px;
     }
 }
