/***********************************************************************************************************/


/* Estilos generales */

body {
    background-color: #fcfcfc !important;
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100%;
}

html,
body {
    height: 100%;
}

#logotresa {
    max-width: 80%;
    height: auto;
}


/* Panel derecho */

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}


/* Ajustes responsivos básicos */

@media (max-width: 768px) {
    .left-panel {
        display: none;
    }
    .right-panel {
        width: 100%;
        padding: 2rem 1rem;
    }
}
